<div class="team_scheduler" data-matches='{{ matches|json_encode() }}'>
    <div class='pools'>
        <h2>Pools</h2>
        {% for pool in matches.pools %}
            <div class="pool">
                <h3>Pool {{ loop.index }}</h3>
                {% for team in pool %}
                    <p class='team'>{{ team }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    
    <div class='pitches'>
        <h2>Pitches (<a href="{{ path('team_scheduler.default_controller_export', { 'id': matches.id }) }}">Save as CSV</a>)</h2>
        {% for pitch in matches.pitches %}
            <div class="pitch">
                <h3>Pitch {{ loop.index }}</h3>
                {% for game in pitch %}
                    <p class="game">
                      {{ matches.gameTimes[loop.index] | date('H:i') }} {{ game[0] }} vs {{ game[1] }}
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div style='clear: both'>
        <ul>
        <li>There are a number of teams split into pools.</li>
        <li>Each pool only play teams with in it's pool.</li>
        <li>Pools will contain between 4 and 7 teams</li>
        <li>Within each pool each team plays all the other teams.</li>
        </ul>

        <ul>
        <li>Having generated the games list (AvB, AvC, AvD, AvE, BvC ... etc) the games need to be arranged and split bettween a list of pitches.</li>
        <li>The number of pitches is fixed.</li>
        <li>The number of pools, therefore the number of teams can be changed.</li>
        <li>No team can play on two pitches at the same time.</li>
        <li>We could fix a single pool to a single pitch</li>
        </ul>
        
    </div>
    <div style='clear: both'>
        <pre>jQuery('.team_scheduler').data('matches');</pre>
    </div>
</div>
